<div *ngIf="profileDataLoaded" class="card card-large">
  <img src="{{ avatar_url }}" />
  <h1>{{ name }}</h1>
  <p>{{ login }}</p>
  <a href="{{ html_url }}" class="btn-small" target="_blank" rel="noreferrer">View on GitHub</a>
</div>
<div *ngIf="profileDataLoaded && profileActive" class="card card-large">
  <p>{{ bio }}</p>
  <p>{{ location }}</p>
  <p>{{ blog }}</p>
  <p>Followers: {{ followers }}</p>
  <p>Following: {{ following }}</p>
</div>
<div *ngIf="reposDataLoaded && projectsActive" class="card card-large">
  <div *ngFor="let repo of reposData; let i = index">
    <p>
      {{ repo.name }} | {{ repo.language }} | {{ repo.forks }} |
      {{ repo.watchers }}
    </p>
  </div>
</div>
