<div>
  <app-toolbar (sendQuery)="getQuery($event)"></app-toolbar>
  <div class="content" role="main">
    <h2>Profile Info</h2>
    <p>Info here</p>

    <input type="hidden" #selection />

    <div class="card-container">
      <button
        class="card card-small"
        (click)="selection.value = 'profile-info'"
        tabindex="0"
      >
        <span>Profile Info</span>
      </button>

      <button
        class="card card-small"
        (click)="selection.value = 'projects'"
        tabindex="0"
      >
        <span>Projects</span>
      </button>
    </div>

    <div *ngIf="profileDataLoaded" class="card card-large">
      <img src="{{ avatar_url }}" />
      <h1>{{ name }}</h1>
      <p>{{ bio }}</p>
      <p>{{ location }}</p>
      <p>{{ blog }}</p>
      <p>Followers: {{ followers }}</p>
      <p>Following: {{ following }}</p>
    </div>

    <div *ngIf="reposDataLoaded" class="card card-large">
      <div *ngFor="let repo of reposData; let i = index">
        <p>{{ repo.name }} | {{repo.language}} | {{repo.forks}} | {{repo.watchers}}</p>
      </div>
    </div>
  </div>
</div>
