<app-toolbar (sendQuery)="getQuery($event)"></app-toolbar>
<div class="content" role="main">
  <h2>To start, search a profile in the toolbar.</h2>
  <app-buttonbar
    (sendProfileBtnActive)="getProfileActive($event)"
    (sendReposBtnActive)="getProjectsActive($event)"
    [profileBtnActive]="profileActive"
  ></app-buttonbar>
  <app-infobox
    class="info-box"
    [name]="name"
    [login]="login"
    [html_url]="html_url"
    [profileData]="profileData"
    [reposData]="reposData"
    [profileDataLoaded]="profileDataLoaded"
    [reposDataLoaded]="reposDataLoaded"
    [avatar_url]="avatar_url"
    [bio]="bio"
    [location]="location"
    [blog]="blog"
    [followers]="followers"
    [following]="following"
    [profileActive]="profileActive"
    [projectsActive]="projectsActive"
  ></app-infobox>
</div>
