<app-toolbar (sendQuery)="getQuery($event)"></app-toolbar>
<div class="content" role="main">
  <h2>To start, search a profile in the toolbar.</h2>
  <app-buttonbar></app-buttonbar>
  <app-infobox class="info-box"
    [profileData]="profileData"
    [reposData]="reposData"
    [profileDataLoaded]="profileDataLoaded"
    [reposDataLoaded]="reposDataLoaded"
    [avatar_url]="avatar_url"
    [bio]="bio"
    [location]="location"
    [blog]="blog"
    [followers]="followers"
    [following]="following"
  ></app-infobox>
</div>
